body{
    font-family: 'Roboto', sans-serif;
    background-color: #202124;
    color: #ffffff;
    margin: 0;
    padding: 75px 0 0 0;
}

.carousel-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.contact-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.main-title{
    text-shadow: 3px 3px #000;
}

.project-card{
    padding: 5px;
}